NEXT_PUBLIC_WEB_URL=https://weclaw.lol
NEXT_PUBLIC_PROJECT_NAME=WeClaw
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXXXXXXXX
NEXT_PUBLIC_CLARITY_PROJECT_ID=w08s8hdqma

PRIMARY_DOMAIN_LOCK=weclaw.lol
SEO_PRIMARY_KEYWORD=weclaw
DOKPLOY_PROJECT_NAME=weclaw
DOKPLOY_APPLICATION_NAME=weclaw
DOKPLOY_GIT_BRANCH=main
